a
{
    text-decoration: none;
}

.about
{
    width:100%;
    height:fit-content;
    text-align:center;
    margin-top: 50px;
}

.teams
{
    font-family: 'IBM Plex Sans', sans-serif;
    color:rgb(68, 68, 68);
    font-size: large;
    margin-bottom: 25px;
}

.fee
{
    font-family: 'IBM Plex Sans', sans-serif;
    color:rgb(255, 255, 255);
    font-size: large;
    margin:0;
    margin-bottom: 25px;
}

.ourfre
{
    font-family: 'IBM Plex Sans', sans-serif;
    color:black;
    margin:0;
    font-size: x-large;
    margin-top: 25px;
    margin-bottom: 20px;
}


.fee2
{
    font-family: 'IBM Plex Sans', sans-serif;
    color:rgb(255, 255, 255);
    font-size: medium;
    margin:0;
    line-height: normal;
    margin-top:10px;
}


.fee4
{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: medium;
    text-decoration: none;
    color:white;
}
.meet
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-weight: 800;
    color:black;
}

.team
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-weight: 800;
    color:rgb(58, 84, 204);
}


.allimage
{

    width:60%;
    margin: auto;
    margin-top:30px;
    display: flex;
    justify-content:space-between;
    height:fit-content;
    
}

.p1
{
    width:fit-content;
    height:fit-content;
    display:inline-block;
  
}

.imgsrc
{
    height:180px;
    width:180px;
    margin-bottom: 10px;
    border-radius:50%;
}



.name
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:larger;
    font-weight: 600;
}

.college
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:small;
    font-weight: 600;
}


.feed_footer
{
    margin-top: 25px;
    background-color:rgb(58, 84, 204);
    display: flex;
    justify-content:space-between;
}

.contactus
{
    width:49%;
    padding: 40px;
    display: inline-block;
}

.feedback
{
    width:49%;
    padding: 40px;
    display: inline-block;
}


.l1
{
    width:49%;
    display: inline-block;
}

.l2
{
    width:49%;
    vertical-align: top;
    display: inline-block;
}

.m0
{
    margin:0;
}

.hsize
{
    min-height: 80px;
}


.me-md-2
{
    margin-right: .0rem;
}
.myip
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: rgb(255, 255, 255);
}


.mdiv
{
    width:100%;
    display: flex;
    justify-content: space-between;
}
.t-a-l

{
    text-align: right;
}


.fimg
{
    width:150px;
    height:auto;
}


.btn-outline-secondary
{

    background-color: #e9ecef;
    border-color: #ced4da;
}


.ppp
{
    width:100%;
    margin-top: 20px;
}



/* slider */

@keyframes scroll {
    0% {
        transform: translateX(0);
   }
    100% {
        transform: translateX(calc(-250px * 7));
   }
}
.slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: auto;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.slider::before, .slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height:fit-content;
    position: absolute;
    width: 200px;
    z-index: 2;
}
.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.slider::before {
    left: 0;
    top: 0;
}
.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;;
}
.slider .slide {
    height: fit-content;
    width: 300px;
}


.f-class
{
    width:300px;
    height: 180px;
    vertical-align: center;
  
}


.feimg
{
    width:100%;
    padding: 15px;
    margin:auto;
    height: 70px;
  
}


.userimg
{
width: 80px;
height:80px;
border-radius:50%;
vertical-align:center;
text-align: center;
margin:auto;
padding:10px;
background-image: url("../images/user.png");
}

.usercom
{
    width:100%;
    text-align: center;
   

} 


.letter
{
    margin:auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:10px;
    font-weight: 600;
    font-size: x-large;
    vertical-align:center;
    
}


.comment-desc
{
    margin:auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:10px;
    font-size: larger;
    line-height: normal;
    vertical-align:center;
}


.usercomments
{
    width:85%;
    margin:auto;

}


.fbody
{
    width:100%;
    height:fit-content;
    background-color:blue;
}